@import '@src/styles/functions';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-color: var(--white);
}

.footer {
  margin-top: auto;
  height: auto;
  width: 100%;
  overflow: visible;
  background-color: var(--primaryRed);
}
